<h1>Editing Sheet</h1>
<%= javascript_include_tag :sheets %>

<%= render 'form', sheet: @sheet %>
<% console %>

<%= link_to 'Show', dossier_sheet_path(@dossier, @sheet) %> |
<%= link_to 'Back', dossier_sheets_path(@dossier) %>
