<div data-block-uid="<%= @blockUID %>" class="block three-column row row-eq-height">
  <div data-editable>
    <h2>Three Columns</h2>
  </div>
  <div  class="col-xs-12 col-md-4">
    <div data-editable class="col-xs-12 box">
      <div style="min-height:100px; width:100%;" class="drop-upload"></div>
      <p class="title">Title #1</p>
      <p class="time">Jul 11, 2016</p>
      <p class="body">Body Text #1</p>
      <p class="footer-text"></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div data-editable class="col-xs-12 box">
      <div style="min-height:100px; width:100%;" class="drop-upload"></div>
      <p class="title">Title #1</p>
      <p class="time">Jul 11, 2016</p>
      <p class="body">Body Text #1</p>
      <p class="footer-text"></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div data-editable class="col-xs-12 box">
      <div style="min-height:100px; width:100%;" class="drop-upload"></div>
      <p class="title">Title #1</p>
      <p class="time">Jul 11, 2016</p>
      <p class="body">Body Text #1</p>
      <p class="footer-text"></p>
    </div>
  </div>
</div>
