<div data-block-uid="<%= @blockUID %>" class="block row">
  <div data-editable>
    <h2>Top Item of Interest</h2>
  </div>
  <div style="min-height:400px" class="drop-upload large col-xs-12 col-md-8">
  </div>
  <div class="col-xs-12 col-md-4">
    <div  data-editable class="text-editable">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis imperdiet, orci quis pellentesque imperdiet, sapien lacus interdum felis, volutpat fermentum lacus augue eu tellus. Aenean consectetur augue ut quam dictum tristique. Integer mauris quam, sollicitudin in dapibus vel, hendrerit sit amet justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum nisi vel laoreet auctor. Morbi vestibulum mi in tempor elementum. Donec leo orci, porttitor id consectetur a, pretium id nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus placerat justo eget tincidunt ultricies.
    </p>
    </div>
  </div>
</div>
