$("#blocks-area").append("<%= escape_javascript(render partial: @type, locals: {blockUID: @blockUID}) %>");
var block = $('[data-block-uid="<%= escape_javascript(@blockUID) %>"]')[0];
$(block).find('.drop-upload').each(function(){
  initDragUpload(this);
});
initDragUpload($(block).find('.drop-upload')[0]);
$(block).prepend('<a><span onclick="removeParent(event)" class="remove">✖</span></a>');
/*$('.remove').click(function(){
    $(block).remove();
});*/
//initWYSWYG($(block).find('.text-editable')[0]);
